body, html {
    height: 100%;
    margin: 0;
    font: 400 15px/1.8 "Lato", sans-serif;
    color: #777;
}

.block {
    position: relative;
    background-color: black;
    color: white;
    padding: 50px;
    text-align: center;
}
.uno {
    background-image: url(https://cdn.pixabay.com/photo/2024/01/07/14/12/man-8493244_1280.jpg);
    min-height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 75px;
    font-weight: 400;
    

    
}

.dos {
    background-color: black;
    min-height: 300px;
    text-align: center;
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    font-weight: 500;
}

.tres {
    background-image: url(https://cdn.pixabay.com/photo/2023/12/17/09/47/door-8453898_1280.jpg);
    min-height: 1200px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    font-weight: 500;
}
